.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

#TJPic {
  width: 100%;
}

#mediaDiv {
  position: -webkit-sticky;
  position: sticky;
  top: 70px;
}


#todayShare {
  background-color: rgba(255, 255, 255, 0.5);
  /* box-shadow: 1px 1px 5px 10px rgba(255, 255, 255, 0.5); */
  width: 250px;
  margin-top: 6%;
}

.paral {
  min-height: 700px;
  background-attachment: fixed;
  background-size: cover;
  background-position: 50% 50%;
}

.paral h1 {
  text-align: center;
}

.paralsec {
  background-image: url('/img/background0729.jpg');
}


